h1 {
    color: green;
}

h1 {
    color: orange;
}

h2 {
    color: red;
}

.subheading {
 color:blue;
}

#title {
    color:green;
}

.import {
    color: black;
}

#jump {
color: black;
}

.inheritance {
    color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;

}